@font-face {
    font-family: harmonyossans;
    src: url("https://cn2.netlify.app/fonts/harmonyossans.ttf");
}
@font-face {
    font-family: maler;
    src: url("https://cn2.netlify.app/fonts/maler.ttf");
}
.maler {
    font-family: maler;
}
.hsans{
    font-family: harmonyossans;
}
.bdrd{
    border-radius: 12px;
}
.tr{
    opacity: 0;
}
@keyframes ocanima{
    from {opacity: 0;}
    to {opacity: 1;}
}
.oc{
    animation-name: ocanima;
    animation-duration: 4s;
}