@font-face {
    font-family: harmonyossans;
    src: url("https://cn2.netlify.app/fonts/harmonyossans.ttf");
}
@font-face {
    font-family: maler;
    src: url("https://cn2.netlify.app/fonts/maler.ttf");
}